<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tiramisu.asthraappmk2" >

    <!-- OpenGl Libraries are loaded for Map rendering -->
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <!-- Remind me to tell you the specifics of these permissions. :D -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher1"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".EventsActivity"
            android:label="@string/title_activity_events" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.tiramisu.asthraappmk2.MainActivity" />
        </activity>
        <activity
            android:name=".RegistrationListActivity"
            android:label="@string/title_activity_registration_list" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.tiramisu.asthraappmk2.MainActivity" />
        </activity>
        <activity
            android:name=".RegistrationActivity"
            android:label="@string/title_activity_registration" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.tiramisu.asthraappmk2.RegistrationListActivity" />
        </activity>
        <activity
            android:name=".EventInfoActivity"
            android:label="@string/title_activity_event_info" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.tiramisu.asthraappmk2.EventsActivity" />
        </activity>
        <activity
            android:name=".InformalsActivity"
            android:label="@string/title_activity_informals" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.tiramisu.asthraappmk2.MainActivity" />
        </activity>
        <activity
            android:name=".LocationActivity"
            android:label="@string/title_activity_location" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.tiramisu.asthraappmk2.MainActivity" />
        </activity>
        <activity
            android:name=".ContactUs"
            android:label="@string/title_activity_contact_us" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.tiramisu.asthraappmk2.MainActivity" />
        </activity>
        <activity
            android:name=".AboutUs"
            android:label="@string/title_activity_about_us" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.tiramisu.asthraappmk2.MainActivity" />
        </activity>
        <!--
        This Part should be kept last!
        Also, Dont forget to replace your key for the debug versions !!
        -->
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyD13l9dEUbr1iAqdopiRzBzYNVxEDi655g" />
    </application>

</manifest>
